.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calender {
  width: 797px;
  height: 509px;
  border-radius: 27.29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border: 2.03px solid;
  background-image: linear-gradient(to right, #72687536, #35333300);
  box-shadow: 6.821591854095459px 6.821591854095459px 16.371822357177734px 0px
    #51515166 inset;
  row-gap: 2rem;
}

.months {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navigateMonthLeft {
  transform: rotate(90deg);
}

.navigateMonthRight {
  transform: rotate(-90deg);
}

.monthName {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
}

.daysList {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.day {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  background-clip: #cbd5e1;
  list-style: none;
}

.dateList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  gap: 1.5rem;
  list-style: none;
  transform: translateX(2%);
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2rem;
  list-style: none;
  width: 78px;
  height: 37px;
  border-radius: 8px;
  background: #343243;
  border: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.emoji {
  width: 24px;
  height: 24px;
}

@media (max-width: 767px) {
  .container {
    transform: translateX(5%);
  }
  .calender {
    width: 330px;
    height: 407px;
    border-radius: 18.42px;
    gap: 16px;
    border: none;
    box-shadow: none;
    background-image: none;
  }

  .dateList {
    gap: 1rem;
    width: 90vw;
  }
  .date {
    width: 31px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    font-size: small;
  }
  .months {
    transform: translateX(5%);
  }
  .daysList {
    justify-content: space-between;
    transform: translateX(5%);
  }
  .day {
    font-size: small;
  }
}
